<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>btn 컴포넌트 — Tailwind CSS</title>
    <link rel="icon" href="/vite.svg" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="m-10">
    <h1 class="text-3xl my-4 font-serif">Button 컴포넌트</h1>
    <button type="button" class="bg-green-600 text-white py-2 px-4 rounded-2xl">
      버튼 텍스트
    </button>
  </body>
</html>